@import "../../Styles/colors";
@import "../../Styles/fonts";

.Footer {
  background-color: $dark-grey;
  padding: 40px 0 0 0;

  &__main-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    ul {
      list-style-type: none;
      width: 33%;
      max-width: 240px;
      font-size: 12px;
      line-height: 30px;
    }
    a {
      text-decoration: none;
      color: $white;

      &:first-child {
        font-weight: $bold;
      }
    }
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 76px;
    border-top: 2px solid $mid-grey;
    border-bottom: 2px solid $mid-grey;

    a {
      margin: auto 16px;
    }
  }

  &__copyright {
    position: relative;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    select {
      background: none;
      border: none;
      color: $white;
    }

    &__lang {
      position: absolute;
      left: 40px;
      top: 14px;
    }

    &__links {
      color: $white;
      font-size: 12px;

      a {
        text-decoration: none;
        color: $white;
        font-weight: $bold;
      }

      span,
      a {
        margin: 0 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    padding-bottom: 40px;
    &__social-links {
      img {
        width: 30px;
        height: 30px;
      }
      a {
        margin: auto 8px;
      }
    }

    &__copyright {
      flex-direction: column;
      height: auto;

      &__lang {
        position: static;
        margin-top: 8px;
      }

      &__links {
        flex-direction: column;

        span,
        a {
          display: block;
          text-align: center;
          margin: 8px auto;
        }
      }
    }
  }
}
